@import './config', './mixins', './media-queries';

body {
    @include flexbox(100vh);
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $dark_cyan;
    overflow: hidden; 

    main {
        @include flexbox(93%); 

        .background__top {
            position: absolute;
            width: 55%;
            aspect-ratio: 1 / 1;
            left: 0;
            top: 0;
            transform: translate(-15%, -50%);

            img {
                height: 100%;
            }
        }

        .background__bottom {
            position: absolute;
            z-index: -1;
            width: 55%;
            aspect-ratio: 1 / 1;
            right: 0;
            transform: translate(15%, 50%);overflow: hidden; 

            img {
                height: 100%;
            }
        }

        .card {
            position: relative;
            box-shadow: 0.2vw 0.3vw 3vw -0.9vw rgba(0, 0, 0, 0.3);
            border-radius: 1vw;
            width: 25vw;
            height: 55vh;
            overflow: hidden;
            background-color: $white;
        }

        .image {
            position: absolute;
            z-index: 0;
            top: 22%;
            left: 50%;
            transform: translateX(-50%);
            height: 32%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            overflow: hidden;
            border: .4vw solid $white;

            img {
                width: 100%;
            }
        }

        .pattern {
            height: 38%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .profile {
            @include flexbox(40%);
            gap: 1vh;
            padding-top: 14%;

            &__info {
                @include flexbox(auto, row);

                h2 {
                    margin-right: 0.5vw;
                }

                &--age {
                    color: $dark_grayish_blue;
                }
            }

            &__location {
                color: $dark_grayish_blue;
            }
        }

        .values {            
            @include flexbox(22%, row);
            justify-content: space-evenly;
            border-top: .1vw solid $light_cyan;

            div {
                @include flexbox(auto);
                width: auto;
                gap: .5vh;
                text-align: center;

                span {
                    color: $dark_grayish_blue;
                    letter-spacing: .1vw;
                }
            }
        }
    }

    footer {
        @include flexbox(8%);
        color: $white;
        text-align: center;

        a {
            text-decoration: none;
            color: $white;
            transition: .5s;

            &:hover {
                color: $very_dark_desaturated_blue;
            }
        }
    }
}